html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin:1rem;
    padding:0;
  }
  
  .ol-container{
    column-count: 2;
    column-gap: 3rem;
  }
  .ol-container li{
    text-decoration: underline;
    font-size: 1em;
    color: rgb(6, 6, 86);
    padding-bottom: 4px;
  }
  @media screen and (max-width: 540px){
    .ol-container{
        column-count: revert;
      }
  }
  .active{
    color: #605a5a !important;
  }
  nav .nav-list-style{
    list-style: none;
    padding-left:0;
    font-weight: 600;
    font-size: 1em;
  }
  .nav-link{
    padding: 5px 0 5px 0;
  }
  .active{
    text-decoration: underline;
  }
  .back-top{
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
  }
  a{
    color:#0000B9;
  }
 .line-separater{
    border: none;
    height: 2px;
    color:#605a5a;
    background-color: #b2b2b2;
  }
